---
import BlogPost from '../../components/blog/BlogPost.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getTagList } from "./utils";

export const prerender = true;

export async function getStaticPaths() {
    const tagList = await getTagList();

    return tagList.map((tagData) => {
        return ({
            params: { tag: tagData.tag },
            props: { posts: tagData.posts },
        });
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>

    <ul>
        {posts.map((post) => (
            <li>
                <BlogPost title={post.data.title} slug={post.slug} />
            </li>
        ))}
    </ul>
</BaseLayout>
