---
import { getCollection } from "astro:content";
import BlogPost from '../components/blog/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { dateComparer } from '../utils/date-comparer';

const pageTitle = "My Astro Learning Blog";

const postCollection = await getCollection("posts");

const sortedPosts = postCollection
    .sort(dateComparer((post => post.data.pubDate)))
    .reverse();
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {sortedPosts.map((post) => (
            <li>
                <BlogPost title={post.data.title} slug={post.slug} />
            </li>
        ))}
    </ul>
</BaseLayout>
